.post_div{
    border: 1px solid transparent;
    box-shadow: 1px 1px 10px 1px grey;
    padding: 40px;
    width: 800px;
    margin: auto;
    margin-bottom: 40px;
    border-radius: 20px;
}
a:hover{
    text-decoration: none;
}

